# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'text.html.tt'
'name': 'Template Toolkit'
'fileTypes': [
  'tt'
  'html.tt'
]
'injections':
  'text.html.tt - (meta.embeded | meta.tag), L:text.tt meta.tag':
    'patterns': [
      {
        'begin': '\\[%'
        'beginCaptures':
          '0':
            'name': 'punctuation.section.embeded.begin.tt'
        'end': '%\\]'
        'endCaptures':
          '0':
            'name': 'punctuation.section.embeded.end.tt'
        'patterns': [
          {
            'include': '#language'
          }
        ]
        'name': 'meta.embeded.block.tt'
      }
    ]
'patterns': [
  {
    'include': 'text.html.basic'
  }
]
'repository':
  'language':
    'patterns': [
      {
        'include': '#variable'
      }
      {
        'include': '#directive'
      }
    ]
  'directive':
    'match': 'ELSE|ELSIF|IF|END|FOREACH|BLOCK|INCLUDE'
    'name': 'keyword.control.directive.tt'
  'variable':
    'match': '[a-z.]+'
    'name': 'variable.language.tt'
