# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'text.html.tt'
'name': 'Template Toolkit'
'fileTypes': [
  'tt'
  'html.tt'
]
'injections':
  'text.html.tt - (meta.embeded | meta.tag), L:text.tt meta.tag':
    'patterns': [
      {
        'begin': '\\[%(#)'
        'beginCaptures':
          '0':
            'name': 'punctuation.section.embeded.begin.tt'
          '1':
            'name': 'comment.tt'
        'end': '%\\]'
        'endCaptures':
          '0':
            'name': 'punctuation.section.embeded.end.tt'
        'contentName': 'comment.tt'
        'name': 'meta.embeded.block.tt'
      }
      {
        'begin': '(\\[%)(?:\\s*)'
        'beginCaptures':
          '1':
            'name': 'punctuation.section.embeded.begin.tt'
        'end': '(?:\\s*)(%\\])'
        'endCaptures':
          '1':
            'name': 'punctuation.section.embeded.end.tt'
        'patterns': [
          {
            'include': '#language'
          }
        ]
        'name': 'meta.embeded.block.tt'
      }
    ]
'patterns': [
  {
    'include': 'text.html.basic'
  }
]
'repository':
  'language':
    'patterns': [
      {
        'include': '#directive'
      }
      {
        'include': '#terminator'
      }
      {
        'include': '#comment'
      }
      {
        'include': '#string'
      }
    ]
  'directive':
    'match': 'ELSE|ELSIF|IF|END|FOREACH|BLOCK|INCLUDE|PROCESS'
    'name': 'keyword.control.directive.tt'
  'terminator':
    'match': ';$'
    'name': 'punctuation.terminator.tt'
  'comment':
    'begin': '#'
    'beginCaptures':
      '0':
        'name': 'comment.tt'
    'end': '$|(%\\])'
    'endCaptures':
      '0':
        'name': 'punctuation.section.embeded.end.tt'
    'contentName': 'comment.tt'
  'string':
    'begin': "'"
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.tt'
    'name': 'string.quoted.single.tt'
    'end': "'"
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.tt'
